h3 = "It’s your turn to draft in your Fantasy SNL league #{@league.name}!"
span = "The sooner you draft, the sooner the game can start. "
= link_to('Click Here', league_url(@league))
span = " to select from the remaining cast members."
