h3 Welcome to Fantasy SNL!
p We hope you enjoy the game, it’s gonna be a great season.
span = "If you’re planning on starting a league, "
= link_to('click here', new_league_url)
span = " to pick a name and send invitations to your players. Good luck!"
