/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import "bootstrap-sprockets";
 @import "bootstrap";

 .content {
   margin: 4rem;
 }

 .notice-container {
   margin: 1rem 4rem;
 }

.new-episode {
  padding: 20px;

  input {
    font-size: 16px;
  }
  .episode-attributes {
    margin: 2rem;
  }
  .actor-score-input {
    .actor-score-header {
      background-color: rgb(10, 10, 10);
      padding: 10px;
      border-radius: 4px;
      color: white;
      margin: 30px;
      font-size: 6rem;
      font-variant: small-caps;
      span {
        margin: 0 40px;
      }
    }
  }
  .actor-scores {
    margin: 20px;
  }
  .btn-default {
    width: 100%;
  }
}

.scoring_breakdown {
  border: 1px solid black;
  td {
    border: 1px solid black;
    min-width: 50px;
    text-align: center;
    padding: 5px;
  }
}

.team-list {
  padding: 10px;
}


.lists-container {
  margin: 0 auto;
  text-align: center;
  ul {
    padding: 0;
    li {
      list-style-type: none;
      margin: 0;
    }
  }
  .cast-list-container {
    border-left: thin solid black;
    padding: 0 40px;
  }
}

.welcome {
  text-align: center;
}

#actor-profile {
  padding: 0 2rem;
  .actor-image {
    margin: 2rem;
  }
}

.sign-in-form {
  width: 50%;
  .btn {
    margin: 1rem 0;
  }
}

.league-form {
  input[type="text"] {
    font-size: 6rem;
    height: 10rem;
    text-align: center;
  }

  button[type="submit"] {
    margin: 1rem auto;
    display: block;
  }
}

.drafting {
  .drafting-form {
    .actor-option {
      display: inline-block;
      width: 180px;
      input {
        display: none;
      }
      label {
        border: solid white;
      }
      input[type=radio]:disabled + label {
        opacity: 0.25;
      }
      input[type=radio]:checked + label {
        border: solid gold;
      }
    }
  }
}
